<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.qinfengge.serversp.mapper.DevicesMapper">

    <resultMap id="BaseResultMap" type="xyz.qinfengge.serversp.entity.Devices">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="dname" column="dname" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="onsw" column="onsw" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List">
        id,type,dname,
        status,location,create_time,onsw
    </sql>
</mapper>
