<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.qinfengge.serversp.mapper.MoisMapper">

    <resultMap id="BaseResultMap" type="xyz.qinfengge.serversp.entity.Mois">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="did" column="did" jdbcType="INTEGER"/>
            <result property="shiData" column="shi_data" jdbcType="DOUBLE"/>
            <result property="creatTime" column="creat_time" jdbcType="TIMESTAMP"/>
        <collection property="devicesList" javaType="ArrayList" ofType="xyz.qinfengge.serversp.entity.Devices">
            <result column="d_id" property="id" />
            <result column="d_name" property="dname" />
            <result column="d_type" property="type" />
            <result column="d_status" property="status" />
            <result column="d_location" property="location" />
            <result column="d_on" property="onsw" />
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,did,shi_data,
        creat_time
    </sql>

    <select id="findMoisData" resultMap="BaseResultMap">
        SELECT mois.* ,devices.dname as d_name, devices.id d_id, devices.type d_type,devices.`status` d_status,devices.location d_location,devices.onsw d_on from mois
                                                                                                                                                    left join devices on mois.did = devices.id WHERE devices.type=2
    </select>

    <select id="echarsShi" resultMap="BaseResultMap">
        select shi_data ,creat_time from mois WHERE did =#{did} ORDER BY creat_time
    </select>
</mapper>
